<template name="map" class="public-content">
  <div vertical layout center>

        {{> heatmap}}
        {{> sensor_list}}

  </div>
</template>
<template name="heatmap">
    <div id="heatmap" class="heatmap"></div>
</template>

<template name="sensor_list">
    <div id="sensors">
        <ul class="sensor_list">
          {{#each sensors}}
            {{> sensor_item}}
          {{/each}}
        </ul>
    </div>
</template>

<template name="sensor_item">
    <li title="{{ _id }}">
        <span class="rack">{{ getRack _id }}</span>
        <span class="aisle">{{ getHotCold _id }}</span>
        <span class="temp">{{ temp }}&deg;C</span>
        <span class="pressure">{{ pressure }}hPa</span>
        <span class="humidity">{{ humidity }}%</span>
        <span class="lux">{{ lux }}lux</span>
        <span class="time">{{ livestamp ts }}</span>
    </li>
</template>
